<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartparkingapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartParkingApp"
        tools:replace="android:appComponentFactory">
        <activity android:name=".FinancesActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".HistoricActivity" />
        <activity android:name=".ManageActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".statLisboaActivity" />
        <activity android:name=".statAveiroActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".myReservesActivity" />
        <activity android:name=".Rserve3Activity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".SucesspayActivity"
            android:label="@string/title_activity_sucesspay"
            android:theme="@style/Theme.SmartParkingApp.NoActionBar" />


        <activity android:name=".SignupActivity" />
        <activity android:name=".ReserFindActivity" />
        <activity android:name=".Reserve2Activity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".FavActivity" />
        <activity android:name=".ReserveActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".HomeAdminActivity" />
        <activity android:name=".ConfParkActivity" />
        <activity android:name=".CheckpayActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>